@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotating 15s linear infinite;
	transition: filter 0.2s;
}

.rotate:hover {
	filter: drop-shadow(0 0 5px rgba(9, 73, 110, 0.8));
}
